<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.unnij.board.dao.BoardDAO">
	<select id="selectBoardCount" parameterType="map"
		resultType="int">
		select
		count(*) as count
		from
		tb_board
		where
		bo_del_yn='N'
		and
		bo_type = #{bo_type}
		<if test="searchWord != null and searchWord != ''">
			<if test="searchType =='01'">
				AND bo_title LIKE concat('%', #{searchWord}, '%')
			</if>
			<if test="searchType =='02'">
				AND bo_content LIKE concat('%', #{searchWord}, '%')
			</if>
			<if test="searchType =='03'">
				AND bo_title LIKE concat('%', #{searchWord}, '%') OR bo_content LIKE concat('%', #{searchWord}, '%')
			</if>
			<if test="searchType =='04'">
				AND bo_writer_name = #{searchWord}
			</if>
		</if>
	</select>

	<select id="selectBoardList" parameterType="map"
		resultType="boardVo">
		SELECT 
			A.*
		FROM( 
			SELECT 
				@ROWNUM := @ROWNUM + 1 AS ROWNUM, 
				TB.*
				FROM ( 
				SELECT
					bo_seq_no
					, bo_type
					, bo_title
					, bo_content
					, bo_writer
					, bo_writer_name
					, bo_hit_cnt
					, bo_open_yn
					, bo_del_yn
					, reg_date
					, reg_user
					, upd_date
					, upd_user
					FROM
						tb_board WHERE 1=1
						and bo_del_yn = 'N'
						and bo_type = #{bo_type}
						<if test="searchWord != null and searchWord != ''">
							<if test="searchType =='01'">
								AND bo_title LIKE concat('%', #{searchWord}, '%')
							</if>
							<if test="searchType =='02'">
								AND bo_content LIKE concat('%', #{searchWord}, '%')
							</if>
							<if test="searchType =='03'">
								AND bo_title LIKE concat('%', #{searchWord}, '%') OR bo_content LIKE concat('%', #{searchWord}, '%')
							</if>
							<if test="searchType =='04'">
								AND bo_writer_name = #{searchWord}
							</if>
						</if>
					ORDER BY bo_seq_no desc
					) TB, (
					SELECT @ROWNUM := 0) R
					) A WHERE A.ROWNUM BETWEEN #{startRow} AND #{endRow} order by A.rownum
	</select>
	
	<select id="selectBoard" parameterType="int" resultType="boardVO">
	
		select
				BO_SEQ_NO
				, BO_TYPE
				, BO_TITLE
				, BO_CONTENT
				, BO_WRITER
				, BO_WRITER_NAME
				, BO_HIT_CNT
				, BO_OPEN_YN
				, BO_DEL_YN
				, REG_DATE
				, REG_USER
				, UPD_DATE
		UPD_USER
		from tb_board
		where bo_seq_no=#{bo_seq_no}
	</select>
	
	<select id="selectGalleryList" parameterType="map"
		resultType="boardVo">
	SELECT 
			A.*
		FROM( 
			SELECT 
				@ROWNUM := @ROWNUM + 1 AS ROWNUM, 
				TB.*
				FROM ( 
				SELECT
					bo_seq_no
					, bo_type
					, bo_title
					, bo_content
					, bo_writer
					, bo_writer_name
					, bo_hit_cnt
					, bo_open_yn
					, bo_del_yn
					, reg_date
					, reg_user
					, upd_date
					, upd_user
					, (select min(file_seq_no) from tb_file_item where ref_seq_no = bo_seq_no) as file_seq_no
					FROM
						tb_board WHERE 1=1
						and bo_del_yn = 'N'
						and bo_type = #{bo_type}
						<if test="searchWord != null and searchWord != ''">
							<if test="searchType =='01'">
								AND bo_title LIKE concat('%', #{searchWord}, '%')
							</if>
							<if test="searchType =='02'">
								AND bo_content LIKE concat('%', #{searchWord}, '%')
							</if>
							<if test="searchType =='03'">
								AND bo_title LIKE concat('%', #{searchWord}, '%') OR bo_content LIKE concat('%', #{searchWord}, '%')
							</if>
							<if test="searchType =='04'">
								AND bo_writer_name = #{searchWord}
							</if>
						</if>
					ORDER BY bo_seq_no desc
					) TB, (
					SELECT @ROWNUM := 0) R
					) A WHERE A.ROWNUM BETWEEN #{startRow} AND #{endRow} order by A.rownum
	</select>
	<update id="updateHitCnt" parameterType="int">
		update tb_board set
			bo_hit_cnt = bo_hit_cnt + 1
		where bo_seq_no = #{bo_seq_no}
	</update>
	
	<insert id="insertBoard" parameterType="boardVO" useGeneratedKeys="true" keyProperty="bo_seq_no">
		<selectKey keyProperty="bo_seq_no" resultType="int" order="BEFORE" >
			select
				case count(*) when 0 then 1 else max(bo_seq_no) + 1 end as bo_seq_no
			from tb_board
		</selectKey>
			insert into tb_board
				(
				 bo_type
					, bo_title
					, bo_content
					, bo_writer
					, bo_writer_name
					, bo_hit_cnt
					, bo_open_yn
					, bo_del_yn
					, reg_date
					, reg_user
				) values (
					#{ bo_type}
					, #{bo_title}
					, #{bo_content}
					, #{bo_writer}
					, #{bo_writer_name}
					, 0
					, COALESCE(#{bo_open_yn}, 'N')				<!-- 값이 있으면 넣지만 없으면 N 입력 -->
					, 'N'
					, now()
					, #{bo_writer}
				)
				
	</insert>
	<update id="updateBoard" parameterType="boardVO">
		update tb_board set
			bo_title = #{bo_title}
			, bo_content = #{bo_content}
			, bo_open_yn = #{bo_open_yn}
			, upd_date = now()
			, upd_user = #{upd_user}
			where
			bo_seq_no = #{bo_seq_no}
	</update>
	<update id="deleteBoard" parameterType="boardVO">
		update tb_board set
			bo_del_yn = 'Y'
		,	upd_date = now()
		,	upd_user = #{upd_user}
			where
			bo_seq_no = #{bo_seq_no}
	</update>
	

</mapper>