<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>			<!-- Alias : 별칭 -->
		<typeAlias type="kr.co.unnij.member.model.MemberVO" alias="memberVO"/>
		<typeAlias type="kr.co.unnij.board.model.BoardVO" alias="boardVO"/>
		<typeAlias type="kr.co.unnij.common.util.FileItem" alias="fileItem"/>
	</typeAliases>
</configuration>